@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Kanit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center{
  text-align: center;
  justify-items: center;

}

.staff-cell{
  width:50%;
}

.time{
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
}

.pick{
  border-radius: 10px;
  background-color: rgb(23,126,131);
  height: 40px;
}

.decoct{
  border-radius: 10px;
  background-color: rgb(61,131,61);
  height: 40px;
}

.dis{
  border-radius: 10px;
  background-color: rgb(88,63,121);
  height: 40px;
}
