.scenario-bg {
    background-color: rgb(207, 207, 207);
    height: 60%;
}

.btn-history {
    position: absolute;
    top: 48em;
    left: 2em;
    border-radius: 0.8rem;
    background-color: rgb(68, 68, 68);
    border-radius: 0.8rem;
    background-color: rgb(68, 68, 68);
    color: white;
}

.btn-history:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}