.table-bg {
    background-color: rgb(207,207,207);
}
.table-border {
    border: 1px solid white;
}
.border-right {
    border-color: white !important;
}
.cell-actual-header-bg {
    background-color: rgb(175,185,205)
}
.cell-input-header-bg {
    background-color: rgb(254,135,77)
}
.table-header-bg {
    background-color: rgb(86,96,96);
    color: white;
}
.cell-actual-bg {
    background-color: rgb(219,227,246)
}
.cell-input-7-bg {
    background-color: rgb(255,230,153)
}
.cell-input-bg {
    background-color: rgb(250,235,196)
    
}
.button {
    background-color: rgb(227,227,227);
    box-shadow: 3px 3px 10px 1px rgb(173,175,173);
}
.height-input-header {
    height: 4em;
}
.height-input-cell {
    height: 2.17em;
}
.height-actual-cell {
    height: 2.17em;
}